.bgimage {
	background-image: url(../images/swamis.jpg);
	background-position: center;
	background-size:cover;
	height:200px;
	margin-bottom:20px;
}
.btn-default {
	background-color:;
}
.about {
	padding-top:;
}
